* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.sub-menu {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.clickable:hover {
    cursor: pointer;
}