* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

.hidden {
    display: none;
}